* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html  {
    padding: 1rem;
    background-color: rgba(0,0,0, .05); 
}

#main {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}
.item {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 30vw; 
    height: 300px; 
    background-color: cyan;
    border-radius: 5px;   
    border: 1px solid rgba(0,0,0, .555);
    margin: .5rem;
    padding: 1rem 0;  
}
.item img {
    width: 90%; 
    height: auto; 
}